.footer-container {
  padding-bottom: 2.5rem;
  font-family: "Poppins", sans-serif;
}

@media (min-width: 640px) {
  .footer-container {
    padding-bottom: 4rem;
  }
}

.footer-top {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

@media (min-width: 768px) {
  .footer-top {
    flex-direction: row;
    gap: 10rem;
  }
}

.footer-description {
  max-width: 370px;
}

.footer-title {
  font-size: 24px;
}

.footer-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  margin-top: 1.25rem;
  line-height: 1.75;
}

@media (min-width: 620px) {
  .footer-text {
    font-size: 1.125rem;
  }
}

.footer-links-container {
  display: flex;
  flex-wrap: wrap;
  gap: 21.5rem;
}

.footer-links {
  margin-top: 1rem;
}

.footer-link-title {
  font-weight: 600;
}

.footer-link-list {
  margin-top: 1.25rem;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 640px) {
  .footer-link-list {
    gap: 1.25rem;
  }
}

.footer-link {
  font-size: 0.9rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #00f6ff;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.25rem;
  padding-top: 2.5rem;
  margin-top: 2.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

@media (min-width: 640px) {
  .footer-bottom {
    flex-direction: row;
  }
}

.footer-copyright {
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  .footer-copyright {
    font-size: 1rem;
  }
}

.social-media-icons {
  display: flex;
  gap: 1.25rem;
}

.social-icon {
  display: inline-block;
  position: relative;
}

.social-media-icon {
  padding: 0.75rem;
  background-color: white;
  border-radius: 50%;
  display: block;
  color: black;
  font-size: 1.25rem;
}

@media (min-width: 640px) {
  .social-media-icon {
    padding: 1rem;
  }
}

.social-name {
  display: none;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.9rem 1.6rem;
  border-radius: 9999px;
  white-space: nowrap;
  transition: width 0.3s ease;
  width: 0;
  overflow: hidden;
}

.social-icon:hover .social-name {
  display: block;
  width: 11rem;
  padding-left: 4rem;
}

.social-icon:hover .social-name {
  color: #24292f; /* GitHub color */
}
