/* Navbar Container */
.navbar-container {
  margin-bottom: 1.25rem;
  background-color: var(--primary-color); /* Replace with your primary color variable */
}

@media (min-width: 768px) {
  .navbar-container {
    margin-bottom: 2.5rem;
  }
}

/* Navbar Content */
.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  font-family: "Poppins", sans-serif;
}

@media (min-width: 768px) {
  .navbar-content {
    padding: 2rem 2.5rem;
  }
}

/* Logo */
.navbar-logo .logo-text {
  font-size: 1.5rem;
}

/* Menu Container */
.menu-container {
  position: relative;
}

/* Menu Items (Initial state: hidden) */
.menu-items {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: absolute;
  top: 70px;
  right: 20px;
  width: 92%;
  background: linear-gradient(to right, #000000a1, transparent);
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.5s ease;
  opacity: 0;
  transform: translateY(-10px);
}

.menu-items.menu-open {
  display: flex; /* Show when menu is open */
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 640px) {
  .menu-items {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    right: 0;
    width: auto;
    background: transparent;
    opacity: 1;
    transform: none;
  }
}

/* Menu Link */
.menu-link {
  font-weight: 500;
  text-transform: capitalize;
  color: var(--text-color); /* Replace with your text color variable */
}

/* Menu Icon */
.menu-icon {
  display: block;
  cursor: pointer;
  font-size: 2rem;
  color: white;
}

@media (min-width: 640px) {
  .menu-icon {
    display: none;
  }
}
