/* Container for the Testimonials section */
.testimonials-section {
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 2.5rem 0;
}

@media (min-width: 768px) {
  .testimonials-section {
    padding: 4rem 0;
  }
}

/* Section description */
.testimonials-description {
  color: #c4c4c4; /* Dim White */
  font-size: 1rem;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .testimonials-description {
    font-size: 1.125rem; /* md:text-lg equivalent */
  }
}

/* Testimonials Grid */
.testimonials-grid {
  display: grid;
  grid-template-columns: 1fr; /* Single column layout by default */
  gap: 2rem;
  margin-top: 2.5rem;
}

@media (min-width: 640px) {
  .testimonials-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Auto-adjust columns based on width */
  }
}

@media (min-width: 768px) {
  .testimonials-grid {
    grid-template-columns: repeat(2, minmax(300px, 1fr)); /* 2 columns on medium screens */
    gap: 2.5rem;
    margin-top: 4rem;
  }
}

@media (min-width: 1024px) {
  .testimonials-grid {
    grid-template-columns: repeat(3, minmax(300px, 1fr)); /* 3 columns on larger screens */
  }
}

/* Testimonial Card */
.testimonial-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #1a1a1a;
  border-radius: 1.25rem;
  padding: 2rem;
  max-width: 100%; /* Ensure the card takes full width within its container */
}

@media (min-width: 640px) {
  .testimonial-card {
    padding: 2.5rem;
  }
}

@media (min-width: 768px) {
  .testimonial-card {
    padding: 3rem;
  }
}

@media (min-width: 1024px) {
  .testimonial-card {
    padding: 3.5rem;
  }
}

/* Quote Icon */
.quote-icon {
  font-size: 3rem;
  color: #ff7a59; /* Secondary color */
}

/* Testimonial Text */
.testimonial-about {
  font-size: 1rem;
  color: #c4c4c4;
  line-height: 1.5rem;
}

/* Testimonial Author */
.testimonial-author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.author-image {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.author-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.author-name {
  font-weight: 600;
}

.author-title {
  font-size: 0.875rem;
  color: #c4c4c4;
  font-weight: 500;
}

/* Background gradient */
.blue-gradient {
  position: absolute;
  width: 20%;
  height: 40%;
  border-radius: 50%;
  right: 0;
  top: 10rem;
  background: linear-gradient(135deg, #1f40ff, #57b3ff);
}
